@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --vue: #2a9f74;
    --nuxt: #00b46a;
    --react: #3ba7c5;
    --node: #267326;
    --dotnet: #5a33c8;
    --blazor: #6829b5;
    --maui: #522bbf;
    --android: #2aa66a;
    --sql: #5a5a5a;
    --js: #bfa500;
    --ts: #225d99;
}

:root {
    --font-base: 'Fira Sans', sans-serif;
    --cor-texto: #FFF;
    --cor-bg: #0f121b;
}

.vue { color: var(--vue); }
.nuxt { color: var(--nuxt);}
.react { color: var(--react); }
.node { color: var(--node); }
.dotnet { color: var(--dotnet); }
.aspnet { color: var(--dotnet); }
.blazor { color: var(--blazor); }
.maui { color: var(--maui); }
.android { color: var(--android); }
.sql { color: var(--sql); }
.javascript { color: var(--js); }
.typescript { color: var(--ts); }