<section class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="container text-start d-flex row">
        <span class="display-1 fw-bold m-0 lh-1">LUIZ</span>
        <span class="display-1 fw-bold m-0 lh-1">FERNANDO</span>
        <span class="display-1 fw-semibold">PORTFOLIO</span>

        <span class="fs-6 fw-semibold mt-2">
            desenvolvedor fullstack. construo soluções completas da web ao mobile.
        </span>
    </div>
</section>