<section class="w-100">
    <h2 class="mb-4"> Sobre </h2>
    <span>
        Sou desenvolvedor fullstack com experiência prática no desenvolvimento de interfaces frontend com
        Vue.js e desenvolvimento backend com .NET Core. Familiarizado com todo o ciclo de desenvolvimento,
        desde a modelagem do banco de dados até o deploy da aplicação, buscando soluções eficientes e
        bem estruturadas. Disposto a aprender e explorar novas tecnologias para me manter atualizado
        com melhores práticas de qualidade e segurança.
    </span>
</section>