<section class="banner">
    <img src="Assets/fernando-banner-4.3.jpg" alt="Banner Image" />
</section>

<style>
    .banner {

    }
    .banner img {
        width: 100dvw;
        height: auto;
        object-fit: cover;
    }
</style>
