<section class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="container text-start">
        <span class="d-block fs-1 fw-semibold">
            Luiz Fernando Portfólio
        </span>

        <span class="d-block fs-5 fw-semibold text-light">
            full stack, curioso por natureza, construo soluções completas da web ao mobile.
        </span>
    </div>
</section>