<section class="wave-section" style="background:rgb(160, 111, 79);">
    <div class="wave">
        <span class="wave1"></span>
        <span class="wave2"></span>
        <span class="wave3"></span>
    </div>

    <Container>
        <div class="d-flex flex-column min-vh-100 justify-content-center">

            <div class="d-flex flex-column text-start" style="z-index:8;">
                <span class="display-1 fw-bold">LUIZ</span>
                <span class="display-1 fw-bold">FERNANDO</span>
                <span class="display-1 fw-semibold">PORTFOLIO</span>
                <span class="fs-6 fw-semibold mt-1">
                    desenvolvedor fullstack. construo soluções completas da web ao mobile.
                </span>
            </div>

            <div class="mt-1" style="z-index:9;">
                <a href="https://github.com/fernandonline" target="_blank">
                    <img src="assets/logo-github-svgrepo-com.svg" style="max-width:40px; opacity:0.6"/>
                </a>
                <a href="https://linkedin.com/in/fernandonline" target="">
                    <img src="assets/linkedin-svgrepo-com.svg" style="max-width:50px; opacity:0.6"/>
                </a>
            </div>

        </div>
    </Container>
</section>