<section class="banner glass-ui">

    <div class="banner-text">
        <TextAnimation Phrases="@Frases"/>
        @code
        {
            List<string[]> Frases = new()
            {
                new[] { "luiz", "fernando", "portfólio" },

                new[] { "descubra", "meus projetos", "e habilidades" },

                new[] { "obrigado", "por", "visitar" }
            };
        }
    </div>

    <div class="banner-card">
        <BannerCarousel Items="@BannerItems"/>
        @code
        {
            List<BannerCarousel.CarouselItem> BannerItems = new()
            {
                new() 
                {
                    ImageUrl   = "Assets/fernando-banner-4.3.jpg",
                },
                new() {
                    ImageUrl    = "Assets/fernando-banner-4.3.jpg",
                },
            };
        }
    </div>
</section>

<style>
    .banner {
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: space-around;
        padding: 1.5rem;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
    }

    .banner-text {
        width: 100%;
        font-size: clamp(1.8rem, 2.2vw, 2.5rem);
    }

    .banner-card {
        position: relative;
        width: 100%;
    }

    @@media (min-width: 738px) {
        .banner {
            flex-direction: row;
            gap: 0;
            height: auto;
            padding: 2rem;
        }

        .banner-text {
            width: 40%;
            font-size: clamp(2em, 2.2em, 3.5em);
            display: flex;
            align-items: center;
        }

        .banner-card {
            width: 40%;
        }
    }

    @@media (min-width: 1120px) {
        .banner-text {
            font-size: 4.2em;
        }
    }
</style>
