<section class="banner">
        <div class="container">
            <span class="title">
                Luiz Fernando Portfólio
           </span>

            <span class="subtitle">
                full stack, curioso por natureza, construo soluções completas da web ao mobile.
            </span>

        </div>



    <style>
        .banner {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
        }

        .container {
            text-align: start;
            width: 100%;
            align-items: start;
        }

        .title {
            display: block;
            font-size: clamp(2rem, 6vw, 4.5rem);
            font-weight: 600;
        }

        .subtitle {
            font-size: clamp(1rem, 3vw, 1.5rem);
            color: var(--text-color);
            font-weight: 600;
        }

    </style>
</section>