<div class="contain">
    @ChildContent
    <style>
        .contain {
            padding: 12vh 10vw;
        }
    </style>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
