<header class="navbar fixed-top">

    <Container>
        <!--<NavLink class="navbar-brand text-white" href="/">Navbar</NavLink>-->

        <div class="navbar-nav d-inline d-flex flex-row gap-5 justify-content-end w-100">
            <NavLink href="/" class="h-item text-white">
                <span>index</span>
            </NavLink>

            <NavLink href="/projetos" class="h-item text-white">
                <span>projetos</span>
            </NavLink>
        </div>

        <style>
            header {
                z-index: 10;
                min-height: 4rem;
                color: var(--cor-texto);
                background-color: rgba(255, 255, 255, 0.03);
                backdrop-filter: blur(3px) brightness(1.1) saturate(70%);
                -webkit-backdrop-filter: saturate(160%);
            }

            .h-item {
                cursor: pointer;
                text-decoration: none;
            }

        </style>
    </Container>
</header>