<header class="navbar fixed-top">

    <Container>
        <!--<NavLink class="navbar-brand text-white" href="/">Navbar</NavLink>-->

        <div class="navbar-nav d-inline d-flex flex-row gap-3 justify-content-end w-100">
            <NavLink href="/" class="h-item text-white">
                <span>index</span>
            </NavLink>

            <NavLink href="/projetos" class="h-item text-white">
                <span style="padding-right:10px;">projetos</span>
            </NavLink>
        </div>

        <style>
            header {
                z-index: 10;
                min-height: 4rem;
                color: var(--cor-texto);
                background-color: rgba(0, 0, 0, 0.08);
                backdrop-filter: blur(10px) brightness(0.9) saturate(120%);
                -webkit-backdrop-filter: blur(10px) brightness(0.9) saturate(120%);
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            }

            .h-item {
                cursor: pointer;
                text-decoration: none;
            }

        </style>
    </Container>
</header>