<header>
    <div class="topo">

        <NavLink href="/" class="topo-item">
            <HomeSvg />
            <span>inicio</span>
        </NavLink>

        <NavLink href="/projetos" class="topo-item">
            <ProjectsSvg />
            <span>projetos</span>
        </NavLink>

        <div class="topo-item">
            <Email />
            <span>contato</span>
        </div>

    </div>
</header>

<style>
    :root {
        --top-bottom: 20px;
    }

    header {
        width: 100%;
        position: fixed;
        z-index: 1;
        bottom: var(--top-bottom);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 3.5rem;
    }

    .topo {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px) saturate(160%);
        -webkit-backdrop-filter: blur(10px) saturate(160%);
        width: 80%;
        height: 3.5rem;
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .topo-item {
        width: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: #FFF;
        text-decoration: none;
    }

    /* Quando a tela for larga (desktop), o header vai pro topo */
    @@media (min-width: 654px) {
        header {
            top: var(--top-bottom);
        }
    }
</style>