<header class="navbar fixed-top d-flex flex-row">

    <div class="container">
        <NavLink class="navbar-brand w-25" href="/">
            <img src="/assets/portfolio-logo.png" alt="Logo" width="29" height="31">
        </NavLink>


        <div class="d-flex gap-5">
            <NavLink href="/" class="h-item text-white">
                <span>index</span>
            </NavLink>

            <NavLink href="/projetos" class="h-item text-white">
                <span style="padding-right:10px;">projetos</span>
            </NavLink>
        </div>

        <style>
            header {
                color: var(--cor-texto);
                background: linear-gradient( 135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01) );
                backdrop-filter: blur(5px) brightness(1.1) saturate(130%);
                -webkit-backdrop-filter: blur(5px) brightness(1.0) saturate(130%);
                box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.05);
            }

            .h-item {
                cursor: pointer;
                text-decoration: none;
            }
        </style>
    </div>
</header>