<h2 class="tools-titulo"> Skills </h2>

<div class="tools-icons">

    <div class="icon-container vue">
        VUE
    </div>

    <div class="icon-container nuxt">
        NUXT
    </div>

    <div class="icon-container react">
        REACT
    </div>

    <div class="icon-container node">
        NODE.js
    </div>

    <div class="icon-container dotnet">
        DOTNET
    </div>

    <div class="icon-container blazor">
        BLAZOR
    </div>

    <div class="icon-container maui">
        .NET MAUI
    </div>

    <div class="icon-container android">
        ANDROID
    </div>

    <div class="icon-container sql">
        SQL
    </div>

    <div class="icon-container nosql">
        noSQL
    </div>


    <style>

        .tools-titulo {
            font-size: 2rem;
            font-weight: 600;
            color: var(--text-color);
            margin-bottom: 3rem;
        }

        .tools-icons {
            color: var(--text-color);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            margin-bottom: 5rem;
        }

        @@keyframes glow {
            0% {
                box-shadow: 0 0 0px currentColor;
            } 100% {
                box-shadow: 0 0 6px 2px currentColor;
            }
        }

    </style>
</div>