<div class="tools-icons">
    <div class="glass-ui">
        <img src="Assets/dotnet-svgrepo-com.svg" alt="dotnet icon"/>
    </div>

    <div class="glass-ui">
        <img src="Assets/blazor-icon.svg" alt="blazor icon" />
    </div>

    <div class="glass-ui">
        <img src="Assets/nodejs-icon.svg" alt="node icon" />
    </div>

    <div class="glass-ui">
        <img src="Assets/vuejs-icon.svg" alt="vue framework icon" />
    </div>

    <div class="glass-ui">
        <img src="Assets/nuxt-logo.svg" alt="nuxt framework icon" />
    </div>

    <div class="glass-ui">
        <img src="Assets/reactjs-icon.svg" alt="react icon" />
    </div>

    <div class="glass-ui">
        <img src="Assets/postgresql-icon.svg" alt="postgresql data base logo" />
    </div>

    <div class="glass-ui">
        <img src="Assets/android-official.svg" alt="android icon"/>
    </div>

    <style>
        .tools-icons {
            width: 100%;
            justify-content: space-evenly;
            gap: 1rem;
            padding: 0.5rem;
            display: grid;
            grid-template-columns: auto auto auto auto;

            
        }
        .tools-icons div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: contain;
            box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tools-icons img {
            width: 60%;
            height: 60%;
            object-fit: contain;
        }

        @@media(min-width: 768px) {
            .tools-icons {
                justify-content: center;
            }
        }
    </style>
</div>