<h2 class="tools-titulo"> Tecnologias </h2>

<div class="tools-icons">

    <div class="icon-container vue">
        VUE
    </div>

    <div class="icon-container nuxt">
        NUXT
    </div>

    <div class="icon-container react">
        REACT
    </div>

    <div class="icon-container node">
        NODE.js
    </div>

    <div class="icon-container dotnet">
        DOTNET
    </div>

    <div class="icon-container blazor">
        BLAZOR
    </div>

    <div class="icon-container maui">
        .NET MAUI
    </div>

    <div class="icon-container android">
        ANDROID
    </div>

    <div class="icon-container sql">
        SQL
    </div>

    <div class="icon-container nosql">
        noSQL
    </div>


    <style>

        .tools-titulo {
            font-size: 2rem;
            font-weight: 600;
            color: var(--text-color);
        }

        .tools-icons {
            margin: 2rem 0;
            color: var(--text-color);
            display: flex;
            flex-wrap: wrap;
            gap:.7rem;
        }

        .icon-container {
            border-radius: 16px;
            padding: .5em .8em;
            border: 1px solid currentColor;
            font-size: 14px;
            font-weight: bold;
            color: inherit;
            position: relative;
            animation: glow 2s infinite alternate;
            text-transform: uppercase;
        }

        @@keyframes glow {
            0% {
                box-shadow: 0 0 0px currentColor;
            } 100% {
                box-shadow: 0 0 6px 2px currentColor;
            }
        }

        .vue {
            color: #42b883;
        }

        .nuxt {
            color: #00DC82;
        }

        .react {
            color: #61dafb;
        }

        .node {
            color: #339933;
        }

        .dotnet,
        .blazor,
        .maui {
            color: #512bd4;
        }

        .android {
            color: #3DDC84;
        }

        .sql {
            color: #00758F;
        }

        .nosql {
            color: #f29111;
        }

        .tailwind {
            color: #38BDF8;
        }

        .git {
            color: #F1502F;
        }

        .firebase {
            color: #FFCA28;
        }

        .docker {
            color: #0db7ed;
        }

    </style>
</div>