<div class="tools-icons">
    <img class="glass-ui" src="Assets/dotnet-official.svg" alt="dotnet icon"/>
    <img class="glass-ui" src="Assets/blazor-icon.svg" alt="blazor icon"/>
    <img class="glass-ui" src="Assets/nodejs-icon.svg" alt="node icon"/>
    <img class="glass-ui" src="Assets/vuejs-icon.svg" alt="vue framework icon"/>

    <img class="glass-ui" src="Assets/nuxt-logo.svg" alt="nuxt framework icon" />
    <img class="glass-ui" src="Assets/reactjs-icon.svg" alt="react icon"/>
    <img class="glass-ui" src="Assets/postgresql-icon.svg" alt="postgresql data base logo"/>
    <img class="glass-ui" src="Assets/android-official.svg" alt="android icon"/>

    <style>
        .tools-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            height: 50px;
            padding: 0.5rem;
            
        }
        .tools-icons img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: contain;
        }

    </style>
</div>