@using Portfolio.Models
@code {
    [Parameter] public Projeto? projeto { get; set; }
    [Parameter] public EventCallback<Projeto> OnVerMais { get; set; }
}

<div @onclick="() =>OnVerMais.InvokeAsync(projeto)"
     class="card bg-transparent d-flex align-items-center p-2">

    <img src="@projeto?.ImgUrl"
         class="card-img-top ratio-16x9"
         alt="@projeto?.Title"
         loading="lazy"
    />

    <div class="card-body position-absolute d-flex align-items-center">


        <div class="w-75">
            <h5 class="card-title mb-0">@projeto?.Title</h5>
            @if (projeto?.Tech?.Any() == true)
            {
                foreach (var tech in projeto.Tech)
                {
                    <div class="card-icons d-inline-block @tech.ToLowerInvariant()">

                        <div class="text-uppercase">
                            @tech
                        </div>
                    </div>
                }
            }
        </div>

        <button class="btn btn-outline-light ms-auto">
            +
        </button>

    </div>
</div>