@code {
    [Parameter] public Projeto? Projeto { get; set; }
    [Parameter] public EventCallback<Projeto> OnVerMais { get; set; }
}

<div class="card bg-transparent d-flex align-items-center p-2">

    <img src="@Projeto?.Img"
         class="card-img-top ratio-16x9"
         alt="@Projeto?.Title"
    />

    <div class="card-body d-flex flex-column position-absolute bottom-0 mb-2">
        <h5 class="card-title">@Projeto?.Title</h5>

        <div class="d-flex mb-2 flex-wrap gap-1">
            @if (Projeto?.Tech?.Any() == true)
            {
                @foreach (var tech in Projeto.Tech)
                {
                    <div class="card-icons @tech.ToLowerInvariant()">

                        <div style="color:#FFF; text-transform: uppercase;">
                            @tech
                        </div>
                    </div>
                }
            }
        </div>

        <button class="btn btn-outline-light btn-sm" @onclick="() =>OnVerMais.InvokeAsync(Projeto)">
            Ver mais
        </button>
    </div>
</div>