<footer class="bg-black pt-4 pb-3">
    <Container>
        <div class="d-flex flex-column gap-1">
            <NavLink href="/projetos" class="h-item text-white">
                projetos
            </NavLink>
            <NavLink href="/" class="h-item text-white">
                index
            </NavLink>
            <p>em construção</p>
        </div>

        <span class="d-flex justify-content-center align-items-center gap-3 pt-3"> made with <span class="icon-container blazor">blazor</span></span>
    </Container>
</footer>
