<footer>
    <Container>
        <NavLink href="/" class="h-item text-white">
            index
        </NavLink>
        <br/>
        <NavLink href="/projetos" class="h-item text-white">
            projetos
        </NavLink>
        <p>em construção</p>
       

        <span>
            Desenvolvido em Blazor WebAssembly
        </span>
    </Container>
</footer>
