<footer class="bg-black pt-4 pb-5">
    <Container>
        <div class="d-flex flex-column gap-1">
            <NavLink href="/" class="h-item text-white">
                index
            </NavLink>
            <NavLink href="/projetos" class="h-item text-white">
                projetos
            </NavLink>
            <p>em construção</p>
        </div>

        <span class="d-flex justify-content-center align-items-center gap-2 pt-3">
            made in 
            <span class="icon-container blazor" style="font-size:.8em; padding:.4em;">Blazor</span>
            with
            <span class="icon-container blazor" style="font-size:.8em; padding:.4em;">C#</span>
        </span>
    </Container>
</footer>
