@inherits LayoutComponentBase
@using Portfolio.Components

<Header/>
<main class="layout-container">
    @Body

    <style>
        .layout-container {
            width: 80dvw;
            height: auto;
        }
    </style>
</main>