@page "/"

<div class="initial">
    <h1>Welcome to your new app!</h1>
    <h2>teste teste teste</h2>
</div>

<style>
    .initial {
        width: 100%;
        border: 1px solid black
    }
</style>