@page "/"
@inject HttpClient Http

<PageTitle>Inicio</PageTitle>   
<Banner/>
<section class="sobre">

    <h2 class="sobre-titulo"> Sobre </h2>
    <span>
        Estudante de TI, cursando análise e desenvolvimento de sistemas, com experiência prática em
        desenvolvimento de software. Tenho perfil autodidata e curiosidade continua para aprender,
        explorando tecnologias full stack web e mobile, banco de dados e segurança da informação.
    </span>

    <style>
        .sobre {
            color: var(--text-color);
            margin: 0 0 5rem 0;
        }

        .sobre-titulo {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 2.5rem;
        }

        @@media (min-width: 768px) {
            .sobre {
                font-size: 1.2rem;
            }
        }
    </style>
</section>

<Logos/>

<section class="recent-proj">

    <h2 class="recent-proj_titulo"> Destaques </h2>

    <div class="recent-proj_list">

        @code {
            private List<Project> projects;

            protected override async Task OnInitializedAsync()
            {
                var response = await Http.GetFromJsonAsync<List<Project>>("data/projects.json");
                projects = response?.TakeLast(2).ToList() ?? new();
            }

            public class Project
            {
                public string? Title { get; set; }
                public string? Img { get; set; }
                public string? Description { get; set; }
   
            }
        }

        @if (projects is not null)
        {
            @foreach (var project in projects)
            {
                <div class="card">
                    <img class="card-img" src="@project.Img" alt="project image" />
                    <div class="card-body">
                        <h4 class="card-body_title">@project.Title</h4>

                        <button class="card-btn_modal">ver mais</button>
                    </div>
                </div>
            }
        }


        <style>
            .recent-proj {
                width: 100%;  
                color: var(--text-color);
                display: flex;
                flex-direction: column;
            }

            .recent-proj_titulo {
                font-size: 2rem;
                font-weight: 600;
                align-self: start;
                margin-bottom: 3rem;
            }

            .card {
                border-radius: 0 0 16px 16px;
                margin-bottom: 3rem;
                background-color: rgba(255, 255, 255, 0.02);
                backdrop-filter: blur(10px) saturate(70%);
                -webkit-backdrop-filter: blur(10px) saturate(160%);
            }

            .card-img {
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-radius: 16px 16px 0 0;
            }

            .card-body {
                padding: 1em;   
            }

           .card-body_title {
                font-size: 1.2em;
           }

            .card-btn_modal {
                height: 2rem;
                font-size: 1rem;
                color: var(--text-color);
                background: transparent;
                border: none;
            }

            @@media (min-width: 768px) {
                .recent-proj {
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                
                }
            }
        </style>
    </div>
</section>