@page "/"
<PageTitle>index</PageTitle>
<Banner/>
<Container>
    <section class="w-100">
        <h2 class="mb-5"> Sobre </h2>
        <span>
            Estudante de TI, cursando análise e desenvolvimento de sistemas, com experiência prática em
            desenvolvimento de software. Tenho perfil autodidata e curiosidade continua para aprender,
            explorando tecnologias full stack web e mobile, banco de dados e segurança da informação.
        </span>
    </section>
    <Logos/>
    <ProjetoRecente/>
</Container>